<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Submission Confirmation</title>
</head>

<body>
	<h1>Resume Information</h1>
    <strong>First Name: </strong><%- firstName %>
    <br>
    <strong>Last Name: </strong><%- lastName %>
    <br>
    <strong>Email Address: </strong><%- email %>
    <br>
    <strong>Education: </strong><%- education %>
    <br>
    <strong>GPA: </strong><%- gpa %>
    <br>
    <strong>Work Experience: </strong>
    <br>
    <%- workExperience %>
    <br>
    <strong>Skills: </strong>
    <br>
    <%- skills %>
    <br>
    <strong>For good luck: </strong>
    <br>
    <%- catImage %>
    <br><br>
    <a href="/">HOME</a>
</body>

</html>
